In [20]:
import pandas as pd 
import numpy as np
import os
import string
from string import digits
import matplotlib.pyplot as plt
import re

In [21]:
lines = pd.read_csv('Hindi_English_Truncated_Corpus.csv')
lines.head()

,source,english_sentence,hindi_sentence
0,ted,politicians do not have permission to do what ...,"राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह कर..."
1,ted,"I'd like to tell you about one such child,",मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहू...
2,indic2012,This percentage is even greater than the perce...,यह प्रतिशत भारत में हिन्दुओं प्रतिशत से अधिक है।
3,ted,what we really mean is that they're bad at not...,हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
4,indic2012,.The ending portion of these Vedas is called U...,इन्हीं वेदों का अंतिम भाग उपनिषद कहलाता है।

In [22]:
lines['source'].value_counts()

tides        50000
ted          39881
indic2012    37726
Name: source, dtype: int64

In [23]:
lines=lines[lines['source']=='ted']

In [24]:
lines.head()

,source,english_sentence,hindi_sentence
0,ted,politicians do not have permission to do what ...,"राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह कर..."
1,ted,"I'd like to tell you about one such child,",मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहू...
3,ted,what we really mean is that they're bad at not...,हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
7,ted,"And who are we to say, even, that they are wrong",और हम होते कौन हैं यह कहने भी वाले कि वे गलत हैं
13,ted,So there is some sort of justice,तो वहाँ न्याय है

In [25]:
pd.isnull(lines).sum()

source              0
english_sentence    0
hindi_sentence      0
dtype: int64

In [26]:
lines.drop_duplicates(inplace=True)

In [27]:
lines.value_counts()

source  english_sentence                                                 hindi_sentence
ted     $55,000.                                                         55,000 डालर |                                                        1
        for our summer holidays next year.”                              अगली गर्मी की छुट्टियों में.”                                        1
        for over 30 years.                                               करीब पिछले तीस साल से भी ज्यादा से।                                  1
        for over a year.                                                 समुदायों को प्रेरित करते रहे                                         1
        for peace and unity.                                             शांति और एकता के लिए।                                                1
                                                                                                                                             ..
        So not only would he get me one, but I had to get two,           न सिर्फ़ मुझे एक इलाका दिया गया, बल्कि मुझे दो और इलाके लेने पडे,    1
        So now I have one last thought, which is                         तो अब मेरे दिमाग में बस एक अंतिम विचार यह है कि                      1
        So now I'm no longer trying to figure out what I'm going to do;  तो अब मेरे सामने सवाल यह नहीं था कि अब क्या करना है,                 1
        So now my wish is:                                               तो अब मेरी कामना है कि:                                              1
        ♫Give you freedom, give you fire♫                                तुम्हें मुक्ति दें, तुम्हें जोश दें,                                 1
Length: 38803, dtype: int64

In [28]:
lines['english_sentence']=lines['english_sentence'].apply(lambda x: x.lower())
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: x.lower())

In [29]:
lines['english_sentence']=lines['english_sentence'].apply(lambda x: re.sub("'", '', x))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: re.sub("'", '', x))

In [30]:
exclude = set(string.punctuation) # Set of all special characters
# Remove all the special characters
lines['english_sentence']=lines['english_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [31]:
lines = lines[~lines['english_sentence'].str.isnumeric()]

In [32]:
lines.value_counts()

source  english_sentence                                hindi_sentence
ted     thank you very much                             बहुत बहुत धन्यवाद                                  4
        applause                                        तालियां                                            4
        laughter                                        हँसी                                               3
                                                        खिलखिलाहट                                          3
        applause                                        तालियाँ                                            3
                                                                                                          ..
        four years ago                                  चार साल पहले                                       1
        four years earlier when i was one               चार साल पेहले जब मैं एक साल की थी                  1
        framed by the mountains and the sea was hacked  पहाड़ो और समुद्र से तराशा हुआ खंडित कर दिया गया    1
        frances greatest illusionist                    फ्रांस के महान जादूगर ने                           1
        ♫give you freedom give you fire♫                तुम्हें मुक्ति दें तुम्हें जोश दें                 1
Length: 38759, dtype: int64

In [36]:
lines['english_sentence']=lines['english_sentence'].apply(lambda x: x.strip())
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: x.strip())
lines['english_sentence']=lines['english_sentence'].apply(lambda x: re.sub(" +", " ", x))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: re.sub(" +", " ", x))

In [37]:
lines.head(20)

,source,english_sentence,hindi_sentence
0,ted,politicians do not have permission to do what ...,राजनीतिज्ञों के पास जो कार्य करना चाहिए वह करन...
1,ted,id like to tell you about one such child,मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहूंगी
3,ted,what we really mean is that theyre bad at not ...,हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
7,ted,and who are we to say even that they are wrong,और हम होते कौन हैं यह कहने भी वाले कि वे गलत हैं
13,ted,so there is some sort of justice,तो वहाँ न्याय है
23,ted,this changed slowly,धीरे धीरे ये सब बदला
26,ted,were being produced,उत्पन्न नहीं कि जाती थी
30,ted,and you can see this led is going to glow,और जैसा आप देख रहे है ये एलईडी जल उठेगी।
32,ted,to turn on the lights or to bring him a glass ...,लाईट जलाने के लिए या उनके लिए पानी लाने के लिए
35,ted,can you imagine saying that,क्या आप ये कल्पना कर सकते है
37,ted,three this is a good road in right near where ...,तीसरी ये हमारी फ़ैक्ट्री के पास की एक अपेक्षाक...
39,ted,whats going on”,क्या हो रहा है ये”
42,ted,there are also financial reforms in rural china,ग्रामीण चीन में आर्थिक नवीनीकरण हुये हैं।
49,ted,the family planning started in vietnam and the...,वियतनाम में परिवार योजना शुरू हो गई और उनके पर...
51,ted,i mean at that time trust me,मेरा मतलब उस समय सही मानिए
53,ted,not only that,बस वही नहीं
55,ted,humans destroyed the commons that they depende...,मानवों ने उन ही साझे संसाधनों को नष्ट किया जिन...
56,ted,almost goes to e but otherwise the play would ...,रचना करीब करीब ई तक जाती है मगर तब तो नाटक ख़त...
63,ted,so i want to share with you a couple key insights,मैं आपके साथ कुछ मुख्य सूत्र बाँटना चाहता हूँ
66,ted,many countries in the unclear they need legiti...,अस्पष्ट के बहुत सारे राष्ट्रों को मान्यता चाहिए